<h1>Hello hot stuff, this is Garrett</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%#= the text below is to render/bring forward text from another text file to keep html.erb files clean %> 
<%= render "text" %> 