<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i> GarDo</h1>
<p>This is a ToDo List built with StukDo's help</p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>

<%#= the text below is to render/bring forward text from another text file to keep html.erb files clean %> 
<%#= render "text" %> 

